b{
    color: orangered;

}
li{
    color: chocolate;
    list-style-type: none;
    font-size: 20px;
}
.for{
    color:orangered
}
.when{
    color:brown
}

img{
    padding: 20px;
    
    margin-right: 15px;
}
.contain{
    display: flex;
}
.where{
    color:chocolate ;
    margin-left: 200px;
    
}
.second
{
    margin-left:15px ;
    margin-top: 50px;
    margin-right: 20px;
    font-size: 20px;
    color:chocolate;
}
.first{
    margin-left: 50px;
    display: flex;
}
.man{
    background-color: rgba(206, 176, 26, 0.769);
    color: ;
}
.bgimg{
    
    background-repeat: no-repeat;
    background-size: cover;
}
.me{
    
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    
}
.kite{
    font-size: larger;
}
.meh{
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar {
    overflow: hidden;
    background-color:darkslategrey;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
margin-left: 250px;
margin-right: 250px;
}
.navbar a:hover {
background-color: darkseagreen;
color: black;
}
 