a{
    text-decoration: none;
    
}
h2{
    margin-left: 600px;
    color: darkseagreen;
    
}
    
img{
    margin-left: 350px;
    border-radius: 20%;
    bord
}
h3{
    margin-left: 650px;
    color: white;
    
}
*{
    background-color: darkslategray;
}
h4{
    color: white;

}
 
  
  
  